body {
  font-family: "Trebuchet MS";
}

p{
    padding: 50px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background: #dbdfe5;
}

.vspace{
    margin-top:25px;
}


.odd{
 

}
.even{
   
}

.rowCover{
   padding:20px
}

.rowBorder{
    border-bottom: 5px solid #e1e1e1;
    padding-bottom: 30px;
}


.rowBorder-alt{
    border-bottom: 3px solid #e1e1e1;
    padding-bottom: 15px;
    margin-left:10px;
}

.shopping-head
{
    color: #a7a7a7;
    font-family: "Trebuchet MS";
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 27px 0 10px 30px;

}

.border_text{
    border:1px solid solid;
}

.header-border{
    border-bottom: 5px solid #e1e1e1;
    border-top: 2px solid #e1e1e1;
    color: #a1a1a1;
    font-size: 14px;
    height: 60px;
    margin-bottom: 15px;    
    padding: 12px 40px 0 9px;
}

.header-border-alt{
    border-bottom: 5px solid #e1e1e1;
    color: #a1a1a1;
    font-size: 14px;
    height: 60px;
    margin-bottom: 15px;    
    padding: 12px 40px 0 9px;
    margin-left:10px;
    margin-right:2px;
}

.cell-size{
    
}

.cell-qty{
    
}

.prod-name{
    color: #808080;
    font-size: 14px;
    font-weight: 700;
    margin-left: -14px;
}

.prod-name-alt{
    color: #808080;
    font-size: 12px;
    font-weight: 500;
    
}


.prod-info{
    color: #808080;
    font-size: 12px;
    font-weight: 300;
    
}

.prod-style{
    color: #808080;
    font-size: 13px;
    font-weight: 500;
    margin-left: -14px;
}


.prod-action{
    color: #60767c;
    font-size: 13px;
    font-weight: normal;
    margin-left: -34px;
    margin-top: 60px;
}


.prod-action-alt{
    text-align:center;
    color: #60767c;
    font-size: 12px;
    font-weight: normal;
    margin-left: -5px;
}


.input-qty{
    width:28px;
    padding:1px 2px 3px 4px;
    padding: 0 0 2px 10px;
    width: 34px;
    color: #808080;
    font-size: 13px;
    font-weight: 500;
}

.prod-size{
    color: #808080;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 0 0 19px;
}


.prod-qty{
    padding: 0;
}


.prod-qty-alt{
        padding: 6px 0px 0px 16px;
        color: #808080;
        font-size: 13px;
        font-weight: 400;
}

.price-value{
    padding: 0;
    vertical-align: text-bottom;
}

.price-text-alt{
   color: #808080;
    font-size: 21px;
    font-weight: 500;
    margin-left: 8px;
    padding: 3px 0px 15px 5px;
}

.prod-currency{
     color: #808080;
    font-size: 18px;
    font-weight: 500;
    margin-right: -6px;
    vertical-align: text-top;
}
.prod-currency-alt{
     color: #808080;
    font-size: 18px;
    font-weight: 500;
    margin-right: -6px;
    vertical-align: text-top;
}
.side-text-1{
    color: #808080;
    font-size: 12px;
    font-weight: 600;
    padding: 0px 0px 20px 0px;
    margin-top: 30px;
}

.side-text-2{
    color: #808080;
    font-size: 12px;
    font-weight: 300;
    padding: 0px 0px 20px 0px;
}

.side-text-3{
    color: #808080;
    font-size: 12px;
    font-weight: 300;
    text-decoration:underline;
    padding: 0px 0px 20px 0px;
}

.btnApply{
    width:35%;
    background-color:white;
    color: #808080;
    font-size: 12px;
    font-weight: 500;
}

.txtPromotion{
    width:60%;
     color: #808080;
    font-size: 12px;
    font-weight: 500;
}

.bold-text{
    color: #808080;
    font-size: 12px;
    font-weight: 700;
    font-family: "Trebuchet MS"
}


.bolder-text{
    color: #808080;
    font-size: 16px;
    font-weight: 900;
    font-family: "Trebuchet MS"
}


.light-text{
    color: #808080;
    font-size: 11px;
    font-weight: 400;
}



.lbl-amount{
    text-align:right;
}

.price-row{
    margin-top:35px;
}




.top-border{
    border-top: 3px solid #e1e1e1;
}


.align-center{
    text-align:center;
    color: #808080;
    font-size: 12px;
    font-weight: 400;
}

@media (min-width: 768px) {

    
.link{
    padding: 0 20px;
    cursor:pointer;
}

.price-row-3{
    margin-top:30px;
    border-bottom: 5px solid #e1e1e1;
    border-top: 2px solid #e1e1e1;
    padding-top:10px;
}

    
    .dvPromotion{
        border-bottom: 5px solid #e1e1e1;
        margin-top:30px;
        height:73px;
    }

    .price-text-bold{
       color: #808080;
        font-size: 25px;
        font-weight: bold;
        margin-left: -13px;
        padding: 0 0 0 5px;
    }
    .price-margin{
        margin-right:60px;
    }

    .continue-shopping{
        text-align:right;
        padding-top:10px;
        text-decoration:underline;
    }

    .align-right{
      text-align:right;
  }
    .bottom-text{
        margin-top:4px;
        text-align:right;
    }

    .price-row-2{
    margin-top:30px;
    }

    
    .price-text{
       color: #808080;
        font-size: 21px;
        font-weight: 500;
        margin-left: -13px;
        padding: 0 0 0 5px;
    }

    .free{
        text-align:right;padding-right:80px;
    }
}

@media (max-width: 767px) {
    /* CSS goes here */
    .free{
        text-align:right;padding-right:40px;
    }
    
.link{
    padding: 0 13px;
    cursor:pointer;
}

    
.price-row-3{
    margin-top:30px;
    border-bottom: 5px solid #e1e1e1;
    border-top: 2px solid #e1e1e1;
    padding-top:10px;
    margin-left:2px;
    margin-right:4px;
}

    
    .dvPromotion{
        border-bottom: 5px solid #e1e1e1;
        margin-top:30px;
        height:73px;
        margin-left:12px;
    }
    
    .price-text-bold{
       color: #808080;
        font-size: 21px;
        font-weight: bold;
        margin-left: -13px;
        margin-top: -13px;
        padding: 0 0 0 5px;
    }
    .price-text{
       color: #808080;
        font-size: 19px;
        font-weight: 500;
        margin-left: -13px;
        margin-top: -14px;
        padding: 0 0 0 5px;
    }
    
    .price-margin{
        margin-right:5px;
    }    
    .centered{
        text-align:center!important;
    }

    .broad{
        width:90%;
    }

    .top-margin{
        margin-top: 5px;
    }

    .row-swap {
    display: flex;
    flex-direction: column
  }
  .row-swap > div:first-of-type {
    order: 1;
  }

  
.price-row-2{
    margin-top:10px;
    
}

.extra-pad{
    padding:0px 45px 0px 45px;
    margin-left:10px;
    margin-right:10px;
}
  
}
