<div class="card" *ngIf="isDataLoading">
    <h4 class="card-header">Loading...</h4>
    <div class="card-block text-xs-center">
        <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
    </div>
</div>

<h4 class="card-header vspace">Total Products : {{products.length}}</h4>

<div class="row vspace" *ngIf="!isDataLoading">
    <div class="col-md-12 col-xs-12 rowCover" *ngFor="let product of selectedproducts; let index=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
        <div class="row rowBorder">
            <div class="col-md-4"><img src="/assets/{{product.info.p_image}}" /></div>
            <div class="col-md-8">

                <div class="row">
                    <div class="col-md-8"> {{product.info.p_variation | uppercase}} {{product.info.p_name | uppercase}} </div>
                    <div class="col-md-4"> {{product.info.p_originalprice}} {{product.info.p_currency}}</div>
                </div>
                <div class="row">
                    STYLE#: {{product.info.p_style}}
                </div>
                <div class="row">
                    <a id="neworder" (click)="modal.open();loadProduct(product);">Edit</a>

                </div>
            </div>
        </div>
    </div>
    


    <app-toast [message]="toast.message"></app-toast>


    <button type="button" class="btn btn-default" (click)="modal.open()">Open me!</button>

    <modal #modal>
        <modal-header [show-close]="true">
            <h4 class="modal-title">I'm a modal!</h4>
        </modal-header>
        <modal-body>
            <div>
                <select [(ngModel)]="productSize">
                    <option value="">SIZE</option>
                    <option *ngFor="let size of sizes" value={{size.code}}>{{size.name}}</option>
                </select>

                <select [(ngModel)]="productColor">
                    <option value="">COLOR</option>
                    <option *ngFor="let color of colors" value={{color.hexcode}}>{{color.name}}</option>
                </select>

            </div>
            {{ modalname | uppercase }}

            <button class="btn btn-primary" type="button" (click)="modal.close();addProduct(product)">Save</button>
        </modal-body>

    </modal>


