<div class="container">

  <nav class="navbar navbar-dark bg-inverse nav-head">
    <div class="nav navbar-nav" style="float:left"> <img src="/assets/logo.png" alt="" height="40px" width="50px"> <span class="heading">Shop Kart</span> </div> 
    <div class="nav navbar-nav" style="float:right">
        <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-list"></i> <span class="hidden-xs-down">Dashboard</span>
        </a>
        <a routerLink="/order" class="nav-item nav-link" routerLinkActive="active">
            <i class="fa fa-shopping-cart"></i> <span class="hidden-xs-down"> Shopping Cart </span>
        </a>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>